[libdefaults]
default_ccache_name = FILE:/tmp/krb5cc_%{uid}
default_realm = {{ example_dns_name | upper }}
dns_canonicalize_hostname = true
dns_lookup_kdc = true
dns_lookup_realm = true
forwardable = true

[realms]
 {{ example_dns_name | upper }} = {
  admin_server = kerberos.{{ example_dns_name }}
 }

