$TTL 1m

@ SOA servera.{{ example_dns_name }}. root.servera.{{ example_dns_name }}. ( 2019083000 1h 10m 1w 10m )
@ NS servera.{{ example_dns_name }}.

1.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0 PTR gateway.{{ example_dns_name }}.
2.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0 PTR servera.{{ example_dns_name }}.
